@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Shadows+Into+Light&display=swap');
.container{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: url(../img/global-business-internet-network-connection-iot-internet-things-business-intelligence-concept-bus.jpg) no-repeat ;
    background-size:cover;
}
header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding:1em 2em;
}
.navBar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0px;
    padding-right: 2em;
}
.socialLink{
    width: 75%;
}
.socialLink ul{
    display: flex;
    justify-content:space-around ;
   padding: 1em;
}
.socialLink li{
    font-size: 1.3em;
}
.visualOption{
    display: flex;
    padding-top :5px;
}
img{
    border-radius: 50%;
    max-width: 250px;
    max-height: 185px;
}
h1{
    font-size: 5em;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 0.3em;
    font-weight: 600;
    
}
h2{
    font-size: 3em;
    margin:1em 0;
    
}
h3{
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 0.1em;
    font-size: 2.5em;
    margin: 0.5em 0;
    
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
}


.card{
    border-radius: 20px;
    padding: 1em;
    text-align: center;
    width: 450px;
    height: 465px;
    flex-wrap: wrap;
    margin:4em 0 2em;
}

.titleCard{
    margin: 10px;
    font-size: 3.5em;
}
.card i{
    font-size: 1.5em;
    
}
.card li {
    font-size: 1.3em;
    font-weight: 600;
}
.card p{
    margin:0.2em 0 0.5em;
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: left;
}

.credits{
    padding: 0.5em;
}
.choiceColor{
    display: flex;
    flex-direction: row-reverse;
    border-radius: 20px;
}

.choiceMode{
    display: flex;
    flex-direction: row-reverse;   
    border-radius: 20px;
}
.choiceMode i {
    margin-top:1px;
}
.colored{
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}
.green{
    background: #28684A;
}
.red{
    background: #8C333A;
}
.yellow{
    background: #FFE629;
}
.blue{
    background:#205D9E;
}
/* -------------------------------------------------- */
.cursor:hover{
    transform: scale(1.2);
    cursor: grab;
}
li:hover{
    transform: scale(1.2);
}
.colored:hover{
    transform: scale(1.1);
}
.contact:hover{
    transform: scale(1.2);
}
.choiceColor:hover{
    cursor: grab;
}
.choiceMode:hover{
    cursor: grab;
}
/* -------------------------------------------------- */
.blueBackground{
    background: #113264;
}
.blueCard{
    background: rgb(13,116,206);
    background: radial-gradient(circle, rgba(13,116,206,1) 0%, rgba(94,177,239,1) 100%);
}
.blueNav{
    background: rgb(5,136,240);
    background: linear-gradient(90deg, rgba(5,136,240,1) 0%, rgba(142,200,246,1) 50%, rgba(5,136,240,1) 100%);
}
.blueH1{
    color:#205D9E;
}
.blueH2{
    color:#8ec8f6;
    text-shadow: 1px 1px #bbdbf6;
}

