@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&family=Shadows+Into+Light&display=swap');

body{
    overflow-x: hidden;
}
.container{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: url(../img/global-business-internet-network-connection-iot-internet-things-business-intelligence-concept-bus.jpg) no-repeat ;
    background-size:cover;
}
header{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding:1em 2em;
}
.navBar{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0px;
    padding-right: 2em;
}
.socialLink{
    width: 75%;
}
.socialLink ul{
    display: flex;
    justify-content:space-around ;
   padding: 1em;
}
.socialLink li{
    font-size: 1.3em;
}
.visualOption{
    display: flex;
    padding-top :5px;
}
img{
    border-radius: 50%;
    max-width: 250px;
    max-height: 185px;
}
h1{
    font-size: 5em;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 0.3em;
    font-weight: 600;
    
}
h2{
    font-size: 3em;
    margin:1em 0;
    
}
h3{
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 0.1em;
    font-size: 2.5em;
    margin: 0.5em 0;
    
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
}


.card{
    border-radius: 20px;
    padding: 1em;
    text-align: center;
    width: 450px;
    height: 465px;
    flex-wrap: wrap;
    margin:4em 0 2em;
}

.titleCard{
    margin: 10px;
    font-size: 3.5em;
}
.card i{
    font-size: 1.5em;
    
}
.card li {
    font-size: 1.3em;
    font-weight: 600;
}
.card p{
    margin:0.2em 0 0.5em;
    font-size: 1.1em;
    line-height: 1.3em;
    text-align: left;
}

.credits{
    padding: 0.5em;
}
.credits a{
    text-decoration: underline;
}
.choiceColor{
    display: flex;
    flex-direction: row-reverse;
    border-radius: 20px;
    margin-right: 30px;
}

.colored{
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
}
.green{
    background:rgb(45, 132, 90);
}
.red{
    background: #9F4349;
}
.yellow{
    background: #FFE629;
}
.blue{
    background:rgb(42, 147, 233);
}
/* -------------------------------------------------- */
.cursor:hover{
    transform: scale(1.2);
    cursor: grab;
}
li:hover{
    transform: scale(1.2);
}
.colored:hover{
    transform: scale(1.1);
}
.contact:hover{
    transform: scale(1.2);
}
.choiceColor:hover{
    cursor: grab;
}
.choiceColorFirst:hover{
    cursor: grab;
}
/* -------------------------------------------------- */
.blueCard{
    background: rgb(5,136,240,1);
    background: radial-gradient(circle, rgba(5,136,240,1) 0%, rgba(142,200,246,1) 100%);
}
.blueNav{
    background: rgb(5,136,240);
    background: linear-gradient(90deg, rgba(5,136,240,1) 0%, rgba(142,200,246,1) 50%, rgba(5,136,240,1) 100%);
}
.blueH1{
    color:#0090FF;
    text-shadow: 1px 1px #3E63DD;
}
.blueH2{
    color:#8ec8f6;
    text-shadow: 1px 1px #bbdbf6;
}
.yellowCard{
    background: rgb(246,238,180);
    background: radial-gradient(circle,rgba(255,230,41,1)  0%,rgba(246,238,180,1)  100%);
}
.yellowNav{
    background: rgb(255,230,41);
    background: linear-gradient(90deg, rgba(255,230,41,1) 0%, rgba(246,238,180,1) 50%, rgba(255,230,41,1) 100%);
}
.yellowH1{
    color:#FFC53D;
    text-shadow: 1px 1px #8F6424;
}
.yellowH2{
    color:#F6EEB4;
    text-shadow: 1px 1px #FFCA16;
}
.redCard{
    background: rgb(255,149,146);
    background: radial-gradient(circle, rgba(140,51,58,1) 0%, rgba(255,149,146,1) 100%);
}
.redNav{
    background: rgb(255,149,146);
    background: linear-gradient(90deg, rgba(140,51,58,1) 0%, rgba(255,149,146,1) 50%, rgba(140,51,58,1) 100%);
}
.redH1{
    color:#E54D2E;
    text-shadow: 1px 1px #8C333A;
}
.redH2{
    color:#E93D82;
    text-shadow: 1px 1px #f1b6aa;
}
.greenCard{
    background: rgb(47,124,87);
    background: radial-gradient(circle, rgba(47,124,87,1) 0%, rgba(177,241,203,1) 100%);
}
.greenNav{
    background: rgb(47,124,87);
    background: linear-gradient(90deg, rgba(47,124,87,1) 0%, rgba(177,241,203,1) 50%, rgba(47,124,87,1) 100%);
}
.greenH1{
    color:#2A7E68;
    text-shadow: 1px 1px #266e5b;
}
.greenH2{
    color:#46A758;
    text-shadow: 1px 1px #4cbf61;
}
.newVisit{
    display: none;
    width: 100vw;
    height: 175%;
    position: absolute;
    top: 0;
    backdrop-filter: blur(10px);
}
.newVisitContent{
    background:url(../img/Capture\ d’écran\ 2023-11-04\ 000713.png) no-repeat;
    background-position: center;
    width: 45%;
    height: 16%;
    margin: 15% auto;
    border:inset 2px black;
    border-radius: 25px;
}
.choiceColorFirst{
    width: 30%;
    display: flex;
    justify-content: space-around;
    margin: 150px auto;

}